
@{
    ViewBag.Title = "Index";
}

<h2 class="smalltitle">Property Management Strategy</h2>


<div class="jumbotron">
    <div class="col-md-6">
        <h3 class="headingstyle1">Capitalization Rate</h3>
        <p class="bodytext">
            The capitalization rate (also known as cap rate) is used in the world of commercial real estate to indicate the rate of return that is expected to be generated on a real estate investment property. This measure is computed based on the net income which the property is expected to generate and is calculated by dividing net operating income by property asset value and is expressed as a percentage. It is used to estimate the investor's potential return on their investment in the real estate market.
        </p>
        <p class="bodytext"><a class="btn-link" href="~/CapitalizationRate/Create">New Capitalization Rate Report &raquo;</a></p>
        <p class="bodytext"><a class="btn-link" href="~/CapitalizationRate/Index">View All Capitalization Rate Reports &raquo;</a></p>
        <br>
        <br>
    </div>
    <div class="col-md-6">
        <h3 class="headingstyle1">Property Management</h3>
        <p class="bodytext">
            Property management is the daily oversight of residential, commercial, or industrial real estate by a third-party contractor. Generally, property managers take responsibility for day-to-day repairs and ongoing maintenance, security, and upkeep of properties. They usually work for the owners of investment properties such as apartment and condominium complexes, private home communities, shopping centers, and industrial parks.  Use these resources to manage or add the properties that you own.
        </p>
        <p class="bodytext"><a class="btn-link" href="~/Property/Index">Manage Your Properties &raquo;</a></p>
        <p class="bodytext"><a class="btn-link" href="~/Property/Create">Add A New Property &raquo;</a></p>
        <br>
        <br>
    </div>

    <br>
    <hr />
    <br>
    <div>
        <h3 class="headingstyle3" align="center">Quick Actions</h3>
        <p class="buttonstyle" align="center"><a class="btn-link" href="~/Owner/Index">Manage Property Owners &raquo;</a></p>
        <!--<p class="buttonstyle" align="center"><a class="btn-link" href="~/Tenant/Index">Manage Tenants &raquo;</a></p>-->
        <p class="buttonstyle" align="center"><a class="btn-link" href="~/Dashboard/Index">Return to Dashboard &raquo;</a></p>

    </div>
</div>

