
@{
    ViewBag.Title = "Index";
}

<h2 class="smalltitle">Property Investment Strategy</h2>
<div class="jumbotron">
    <div class="col-md-6">
        <h3 class="headingstyle1">Four-Square</h3>
        <p class="bodytext">
            Better strategize to make the most sense of property investment.
        </p>
        <p class="bodytext"><a class="btn-link" href="~/FourSquare/Create">New Four-Square Report &raquo;</a></p>
        <br>
        <br>
    </div>
    <div class="col-md-6">
        <h3 class="headingstyle1">Net Operating Income</h3>
        <p class="bodytext">
            Better strategize to make the most sense of property investment.
        </p>
        <p class="bodytext"><a class="btn-link" href="~/CapitalizationRate/Create">New Net Operating Income Report &raquo;</a></p>
        <br>
        <br>
    </div>
    <br>
    <hr />
    <br>
    <div>
        <h3 class="headingstyle3" align="center">Quick Actions</h3>
        <p class="buttonstyle" align="center"><a class="btn-link" href="~/Property/Index">Manage Your Properties &raquo;</a></p>
        <p class="buttonstyle" align="center"><a class="btn-link" href="~/Dashboard/Index">Return to Dashboard &raquo;</a></p>

    </div>
</div>