
@{
    ViewBag.Title = "Index";
}

<h2 class="smalltitle">Property Investment Strategy</h2>
<div class="jumbotron">
    <div class="col-md-6">
        <h3 class="headingstyle1">Four-Square</h3>
        <p class="bodytext">
            The Four-Square Method in property investment is an assessment of property income, expenses, cash flow, and cash-on-cash return on investment. The cash-on-cash return is the ratio of annual before-tax cash flow to the total amount of cash invested, expressed as a percentage.
        </p>
        <p class="bodytext"><a class="btn-link" href="~/FourSquare/Create">New Four-Square Report &raquo;</a></p>
        <p class="bodytext"><a class="btn-link" href="~/FourSquare/Index">Vew All Four-Square Reports &raquo;</a></p>
        <br>
        <br>
    </div>
    <div class="col-md-6">
        <h3 class="headingstyle1">Net Operating Income</h3>
        <p class="bodytext">
            Net operating income (NOI) is a calculation used to analyze the profitability of income-generating real estate investments. NOI equals all revenue from the property, minus all reasonably necessary operating expenses. NOI is a before-tax figure, appearing on a property’s income and cash flow statement, that excludes principal and interest payments on loans, capital expenditures, depreciation, and amortization.
        </p>
        <p class="bodytext"><a class="btn-link" href="~/NOI/Create">New Net Operating Income Report &raquo;</a></p>
        <p class="bodytext"><a class="btn-link" href="~/NOI/Index">View All Net Operating Income Reports &raquo;</a></p>
        <br>
        <br>
    </div>
    <br>
    <hr />
    <br>
    <div>
        <h3 class="headingstyle3" align="center">Quick Actions</h3>
        <p class="buttonstyle" align="center"><a class="btn-link" href="~/Property/Index">Manage Your Properties &raquo;</a></p>
        <p class="buttonstyle" align="center"><a class="btn-link" href="~/Dashboard/Index">Return to Dashboard &raquo;</a></p>

    </div>
</div>