@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<h2 class="smalltitle">Locked Out</h2>
<div class="jumbotron">
    <hgroup>
        <h1 class="text-danger">Yikes! You've been locked out.</h1>
        <h2 class="text-danger">Please contact the site administrator, or try again later.</h2>
    </hgroup>
</div>