@{
    ViewBag.Title = "Confirm Email";
}

<h2 class="smalltitle">Verify Email</h2>
<div class="jumbotron">
    <div>
        <p>
            Thank you for verifying your email. Please @Html.ActionLink("Click here to Log In", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>