@{
    ViewBag.Title = "Contact";
}
<div>
    <h1 class="bigtitle" align="center">RESS</h1>
    <h2 class="smalltitle" align="center">Real-Estate Strategy Software</h2>
    <p class="bodytext" align="center"><a href="~/Dashboard/Index">Try RESS &raquo;</a></p>
</div>

<div class="jumbotron">
    <div class="col-md-6">
        <h3 class="headingstyle1">Mailing Address</h3>
        <p class="body-text">
            TILLEMA DEV<br />
            123 Way St<br />
            Indianapolis, IN 46202<br />
        </p>

    </div>
    <div class="col-md-6">
        <h3 class="headingstyle1">Reach Out</h3>
        <p class="body-text">
            <strong>TILLEMA DEV Product Phone</strong><br />
            317.123.4567<br />
            <strong>TILLEMA DEV Product Email</strong><br />
            TillemaDev@gmail.com<br />
        </p>
    </div>

    <p class="buttonstyle" align="center"><a class="btn-link" href="~/Home/Index">Learn More About RESS &raquo;</a></p>
</div>


<!--<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>-->
