@{
    ViewBag.Title = "Contact";
}
<div>
    <h1 class="bigtitle" align="center">RESS</h1>
    <h2 class="smalltitle" align="center">Real-Estate Strategy Software</h2>
    <p class="bodytext" align="center"><a href="~/Dashboard/Index">Try RESS &raquo;</a></p>
</div>

<address class="footertext">
    123 Way St<br />
    Indianapolis, IN 46202<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<!--<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>-->
