@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1 class="bigtitle" align="center">RESS</h1>
    <h2 class="smalltitle" align="center">Real-Estate Strategy Software</h2>
    <p class="bodytext" align="center"><a href="~/Account/Login">Try RESS &raquo;</a></p>
</div>
<br />
<div class="jumbotron">
    <div class="col-md-6">
        <h3 class="headingstyle1">Property Investment Strategy</h3>
        <p class="body-text">
            Better strategize to make the most sense of property investment.
        </p>

    </div>
    <div class="col-md-6">
        <h3 class="headingstyle1">Property Management</h3>
        <p class="body-text">
            Keep track of clients and their tenants, and offer owners a specialized, in depth look at their properties, as well as make predictions as to the future of their properties.
        </p>
    </div>
    
    <p class="buttonstyle" align="center"><a class="btn-link" href="~/Account/Login">Register or Sign In to Use RESS &raquo;</a></p>
</div>