@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1 class="bigtitle" align="center">RESS</h1>
    <h2 class="smalltitle" align="center">Real-Estate Strategy Software</h2>
    <p class="bodytext" align="center"><a href="~/Dashboard/Index">Try RESS &raquo;</a></p>
</div>
<br />
<div class="jumbotron">
    <div class="col-md-6">
        <h3 class="headingstyle1">Property Investment</h3>
        <p class="body-text">
            Real estate properties can be sound investment, and one that has the potential to provide a steady income and build wealth. As with any investment, keep your expectations realistic, and let RESS help you make the best strategic property investment decisions.
        </p>

    </div>
    <div class="col-md-6">
        <h3 class="headingstyle1">Property Management</h3>
        <p class="body-text">
            Keep track of clients and property owners, and offer owners a specialized, in depth look at their properties (your managed properteies), as well as make predicted assumpts as to the future of their properties, teir values, and various property analyses.
        </p>
    </div>
    
    <p class="buttonstyle" align="center"><a class="btn-link" href="~/Dashboard/Index">Get Started &raquo;</a></p>
</div>